@{
    ViewData["Title"] = "استيراد البيانات";
}

<div class="card">
    <div class="card-header">
        <div class="card-text">إرفاق بيانات حجاج خارج وزارة الدفاع</div>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>السلاح / الجهة</label>
                    <select id="NonModService" name="NonModServiceId" class="form-control">
                        <option value="">-- اختر الجهة --</option>
                        @if (ViewBag.NonModService != null)
                        {
                            foreach (var item in ViewBag.NonModService)
                            {
                                <option value="@item.UnitId">@item.UnitNameAr</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>نوع الحاج</label>
                    <select id="AlhajjType" name="AlhajjTypeId" class="form-control">
                        <option value="">-- اختر النوع --</option>
                        @if (ViewBag.AlhajjType != null)
                        {
                            foreach (var item in ViewBag.AlhajjType)
                            {
                                <option value="@item.ParameterId">@item.DescArabic</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label>ملف Excel</label>
                    <input type="file" id="fUpload" name="files" class="form-control" accept=".xlsx,.xls" />
                </div>
                <div class="col-md-2 form-group d-flex align-items-end">
                    <button type="button" id="btnUpload" class="btn btn-primary">
                        <i class="fa fa-upload"></i> عرض الملف
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div id="previewSection" style="display:none">
            <div class="mb-2">
                <button type="button" onclick="saveImportedData()" class="btn btn-success">
                    <i class="fa fa-save"></i> حفظ البيانات
                </button>
                <a href="@Url.Action("Index","AlhajjList")" class="btn btn-info">
                    <i class="fa fa-list"></i> القوائم
                </a>
            </div>
            <div class="table-responsive">
                <table id="importTable" class="table table-bordered table-striped w-100">
                    <thead><tr>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>الرقم العسكري</th><th>الاسم</th><th>الرتبة</th>
                        <th>البطاقة الشخصية</th><th>جواز السفر</th>
                        <th>المحافظة</th><th>الولاية</th><th>القرية</th>
                        <th>تصنيف الحاج</th><th>السلاح</th>
                    </tr></thead>
                    <tbody id="importBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    var importedData = [];

    $('#btnUpload').on('click', function () {
        var filename = $('#fUpload').val();
        if (!filename) { toastr.warning('الرجاء اختيار ملف'); return; }
        var ext = filename.split('.').pop().toLowerCase();
        if (ext !== 'xlsx' && ext !== 'xls') { toastr.warning('الرجاء اختيار ملف Excel فقط'); return; }

        var fdata = new FormData();
        var file = $('#fUpload')[0].files[0];
        fdata.append(file.name, file);
        fdata.append('NonModServiceId', $('#NonModService').val());
        fdata.append('NonModServiceName', $('#NonModService option:selected').text());
        fdata.append('AlhajjTypeId', $('#AlhajjType').val());
        fdata.append('AlhajjTypeDesc', $('#AlhajjType option:selected').text());

        $.ajax({
            type: 'POST',
            url: '@Url.Action("OnPostImport","Upload")',
            beforeSend: function(xhr){ xhr.setRequestHeader('XSRF-TOKEN', $('input[name="__RequestVerificationToken"]').val()); },
            data: fdata, contentType: false, processData: false,
            success: function (response) {
                toastr.success('تم جلب البيانات بنجاح');
                importedData = response;
                renderImportTable(response);
            },
            error: function (xhr) { toastr.error(xhr.responseText || 'حدث خطأ أثناء تحميل الملف'); }
        });
    });

    function renderImportTable(data) {
        $('#previewSection').show();
        var tbody = $('#importBody').empty();
        $.each(data, function (i, r) {
            tbody.append('<tr><td><input type="checkbox" class="rowCheck" checked/></td>' +
                '<td>' + (r.servcieNumber||'') + '</td><td>' + (r.fullName||'') + '</td>' +
                '<td>' + (r.rankDesc||'') + '</td><td>' + (r.nic||'') + '</td>' +
                '<td>' + (r.passport||'') + '</td><td>' + (r.region||'') + '</td>' +
                '<td>' + (r.wilayaDesc||'') + '</td><td>' + (r.villageDesc||'') + '</td>' +
                '<td>' + (r.alhajjType||'') + '</td><td>' + (r.unitNameAr||'') + '</td></tr>');
        });
        $('#selectAll').on('change', function(){ $('.rowCheck').prop('checked', this.checked); });
    }

    function saveImportedData() {
        var selected = [];
        $('#importBody tr').each(function(i){
            if ($(this).find('.rowCheck').is(':checked')) selected.push(importedData[i]);
        });
        if (!selected.length) { toastr.warning('الرجاء تحديد سجل واحد على الأقل'); return; }

        $.ajax({
            type: 'POST', url: '@Url.Action("CreateAlhajjNonMod","AlhajjMasters")',
            data: JSON.stringify(selected),
            contentType: 'application/json; charset=utf-8', processData: false,
            success: function(){ toastr.success('تم حفظ البيانات بنجاح'); $('#importBody').empty(); $('#previewSection').hide(); },
            error: function(xhr){ toastr.error(xhr.responseText || 'حدث خطأ أثناء الحفظ'); }
        });
    }
</script>
}
