@model IEnumerable<Pligrimage.Web.Models.SwapVM>
<div class="card card-cascade wider">
    <div class="view view-cascade gradient-card-header blue-gradient-rgba">
        <h2 class="card-header-title mb-3">توزيع الحجاج </h2>
    </div>
    <div id="ListView" class="card-body card-body-cascade">
@*         @(Html.Kendo().DropDownList()
                                                  .Name("FlightDropDown1")
                                                  .OptionLabel("إختر الرحلة")
                                                  .DataTextField("FlightNo")
                                                  .DataValueField("FlightId")
                                                  .Events(e => e.Change("TypeChange"))
                                                  .AutoBind(false)
                                                  .HtmlAttributes(new { style = "width:350px;" })
                                                  .DataSource(ds =>
                                                  {
                                                      ds.Read("FlightList", "Passengers");

                                                  })
        ) *@
@*         @(Html.Kendo().DropDownList()
                                          .Name("FlightDropDown2")
                                          .OptionLabel("إختر الرحلة")
                                          .DataTextField("FlightNo")
                                          .DataValueField("FlightId")
                                          .Events(e => e.Change("TypeChange2"))
                                          .AutoBind(false)
                                          .HtmlAttributes(new { style = "width:350px;" })
                                          .DataSource(ds =>
                                          {
                                              ds.Read(r =>
                                              {
                                                  r.Action("CascadingFlightList", "Passengers").Data("FilterFlightDropDown1");
                                              })
                                          .ServerFiltering(true);
                                          })
                                          .Enable(false)
                                          .CascadeFrom("FlightDropDown1")
        ) *@
        <div class="demo-section k-content k-rtl">
            <label for="Flight1" id="lblFlight1">Flight1</label>
            <label for="Flight2" id="lblFlight2">Flight2</label>
            <br />
            @* @(Html.Kendo().ListBox()
                                .Name("Flight1")
                                .DataTextField("FullName")
                                .DataTextField("ServcieNumber")
                                .DataValueField("PassengerId")
                                .Draggable(true)
                                .DropSources("Flight2")
                                .ConnectWith("Flight2")
                                .Toolbar(t =>
                                {
                                    t.Position(ListBoxToolbarPosition.Right);
                                    t.Tools(to => to
                                    .TransferTo()
                                    .TransferFrom()
                                    .Remove()
                                        );
                                })
                                        .BindTo(Model)
            )
            @(Html.Kendo().ListBox()
                                .Name("Flight2")
                                .DataTextField("FullName")
                                .DataValueField("PassengerId")
                                .Draggable(true)
                                .DropSources("Flight1")
                                .ConnectWith("Flight1")
                                .BindTo(Model)
            )
            @(Html.Kendo().Button()
               .Name("Save")
               .HtmlAttributes(new { type = "button", @class = "k-primary" , style = "width:100px;" })
               .Content("Save"))
 *@
            @*<button id="button" type="button" class="k-button">Save Changes</button>*@


        </div>

    </div>

</div>


    

<script type="text/javascript">

    $("#Save").on('click', function (e) {

        var FlightDropDown1Value = $("#FlightDropDown1").val()
        // ListBox replaced with standard HTML
        data = listbox.dataItems()

        $.each(data, function (key, item) {
            item.FlightId = FlightDropDown1Value;
            data.push(item);
        });


        var FlightDropDown2Value = $("#FlightDropDown2").val()
        // ListBox replaced with standard HTML
        data2 = listbox2.dataItems()

        $.each(data2, function (key, item) {
            item.FlightId = FlightDropDown2Value;
            data.push(item);
        });

        @*$.post('@Url.Action("PassengerUpdateSwap", "Passengers")', { swapVM: data }, function ghgh(e) {

            alert("Done");
        });**@
        UpdatePassengersFlight(data);
        console.log(data);
    });
    function UpdatePassengersFlight(data) {
        alert("SendData");
        console.log(data);
        $.ajax({
            type: "POST",
            //contentType: 'application/json; charset-UTF-8',
            url: "@Url.Action("PassengerUpdateSwap", "Passengers")",
            //data: { swapVM: data },
            dataType: "Json",
            //data: JSON.stringify({"swapVM": data }),
            data: { "swapListParam": JSON.stringify(data) },

            success: function (swapListParam) {
                if (swapListParam) {
                        alert('ok');
                    }
                    else {
                        alert('failed');
                    }
            }
           
        });
    }



    function FilterFlightDropDown1() {
                    return {
                    flightID: $("#FlightDropDown1").val()
                    };
                }
                function TypeChange() {
                    var flightID = this.value();
          $.ajax({
                    type: "GET",
              url: "@Url.Action("PassengerReadSwap", "Passengers")",
              data: { flightID: flightID},
              dataType:"Json",
              success: function (result) {
                            
                            console.log("data:", result);
                        },
                error: function (e) {
                            console.log(e)
                    if (e.status == 200) {
                                alert("تم توزيع  بنجاح");
                            }
                            else {
                                alert("erorr");
                            }
                        }
                    });
            }


            function TypeChange2() {

                var flightID = this.value();
          $.ajax({
                type: "GET",
              url: "@Url.Action("PassengerReadSwap", "Passengers")",
              data: { flightID: flightID},
              dataType:"Json",
              success: function (result) {
                        
                        console.log("data:", result);
                    },
                error: function (e) {
                        console.log(e)
                    if (e.status == 200) {
                            alert("تم توزيع  بنجاح");
                        }
                        else {
                            alert("erorr");
                        }
                    }
                });
            }

</script>












<style>
    #lblFlight1 {
        width: 270px;
    }

    .demo-section label {
        margin-bottom: 5px;
        font-weight: bold;
        display: inline-block
    }

    #ListView .demo-section {
        max-width: none;
        width: 515px;
    }

    #ListView .k-listbox {
        width: 236px;
        height: 310px;
    }

        #ListView .k-listbox:first-of-type {
            width: 270px;
            margin-right: 1px
        }
</style>